:root {
    --valuables: hsla(0, 100%, 79%, 1);
    --etchings: hsla(274, 100%, 79%, 1);
    --memories: hsla(176, 100%, 79%, 1);
    --alternatives: hsla(43, 100%, 79%, 1);

    --valuables-border: hsla(0, 100%, 58%, 1);
    --etchings-border: hsla(274, 100%, 58%, 1);
    --memories-border: hsla(176, 100%, 58%, 1);
    --alternatives-border: hsla(43, 100%, 58%, 1);
}

body {
    font-family: sans-serif;
}

div.pawnProgress {
    width: 80%;
    max-height: calc(100% / 20);
    vertical-align: top;
    line-height: 100%;
    font-size: 4vw;
    display: flex;
    margin-top: 3px;
    margin-bottom: 3px;
    /*! float: ; */
    margin: auto;
    overflow-y: hidden;
    position: relative;
}

div.percentWrapper {
    width: 30%;
    text-align: center;
    display: inline-grid;
    /*vertical-align: top;*/
    /*! overscroll-behavior: contain; */
}

img.pawnImg {
    vertical-align: top;
}

div.bar {
    width: 61%;
    height: 80%;
    border-style:solid;
    display: inline-block;
    /*background-color: blue;*/
    /*! overscroll-behavior: none; */
    /*! overflow-x: visible; */
    position: absolute;
    right: 0px;
}

div.imgContainer {
    display: inline;
    height: 100%;
    width: fit-content;
}

#status {
    min-height: 100%; 
}

#rollBtn {
    text-align: center;
    padding: 2% 40%;
    width: 100%;
    margin: auto;
    font-size: 2vw;
    font-family: sans-serif;
    outline: none;
    border: none;
}

#reading {
    background-color: white;
    margin: auto;
    padding: 1% 2%;
    border-style: outset;
    border-width: 5px;
    width: 50%;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%)
}

#message {
    font-size: 2vw;
}

#card {
    font-style: bold;
    font-size: 2.5vw;
}

.card-buttons {
    font-size: 2vw;
    margin: 0 1%;
    padding: 1%;
}